{% extends 'base.html' %}
{% load static %}

{% block title %}
  AI IT Support
{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
	    var csrftoken = '{{ csrf_token }}';
    </script>
    <script src="https://kit.fontawesome.com/9054a3c1b4.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
  <nav>
    <ul>
      <li><a href="./login">Sign in</a></li>
      <li><a href="./chatbot">ChatBot</a></li>
      <li><a href="./contact">Contact</a></li>
    </ul>
  </nav>

  <section class="hero">
    <div class="container">
      <h1>AI IT Support</h1>
      <p id="subheading">Immediate assistance for <span id="example-text">adding a printer</span></p>
      <p class="read-more">Read more below
        <br><i class="fa-solid fa-angles-down"></i></p>
    </div>
  </section>

  <section class="about">
    <div class="container">
      <h2>About</h2>
      <p>Our AI IT Support Tool is an innovative solution designed to improve productivity and streamline IT support processes in an enterprise setting. By automating repetitive tasks, providing quick access to information, and assisting with onboarding and training, our AI tool revolutionizes the way you handle IT support.</p>
      <p>Experience the benefits of AI-driven process automation, email support, knowledge base management, personalized onboarding and training, and seamless integration with ticketing systems, SAML SSO authentication, role-based access, and more. With continuous learning, adaptation, and a user journey that saves valuable time, our AI IT Support Tool redefines IT support efficiency.</p>
      <p>By leveraging our AI IT Support Tool, your enterprise can achieve improved response times, reduced workload for support staff, increased accuracy and consistency of responses, and cost savings over time. Embrace the future of IT support and boost your organization's productivity with our AI IT Support Tool.</p>
    </div>
  </section>
  

  <section id="pricing" class="pricing">
    <div class="container">
      <h2>Pricing</h2>
      <div class="pricing-plans">
        <div class="plan">
          <h3>Basic</h3>
          <p class="price">$100/month</p>
          <ul>
            <li>AI Chatbot</li>
            <li>General Knowledge Base</li>
            <li>Email Support<br>(48-hour response)</li>
            <li class="disabled"><strike>Integrations</strike></li>
            <li class="disabled"><strike>Customizable Knowledge Base</strike></li>
            <li class="disabled"><strike>Phone Support</strike></li>
          </ul>
          <button class="plan-button">Contact</button>
        </div>
        <div class="plan">
          <h3>Business</h3>
          <p class="price">$899/month</p>
          <ul>
            <li>AI Chatbot</li>
            <li>Customizable Knowledge Base</li>
            <li>Self-learning Capability</li>
            <li>Priority Email Support<br>(12-hour response)</li>
            <li>Basic Analytics and Reporting</li>
            <li>Role-Based Access</li>
            <li>Basic Ticketing System Integrations</li>
            <li>GDPR Compliance</li>
            <li class="disabled"><strike>Phone Support</strike></li>
          </ul>
          <button class="plan-button">Contact</button>
        </div>
        <div class="plan">
          <h3>Enterprise</h3>
          <p class="price">$2,099/month</p>
          <ul>
            <li>AI Chatbot</li>
            <li>Phone Support and Integration via Twilio</li>
            <li>Advanced Integrations<br>(Automation, Azure, Teams, etc.)</li>
            <li>Enhanced Security, Database Backups, Load Balancing</li>
            <li>Priority Email Support<br>(4-hour response)</li>
            <li>Advanced Analytics and Reporting</li>
            <li>GDPR Compliance</li>
          </ul>
          <button class="plan-button">Contact</button>
        </div>
      </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="container">
      <h2>Contact</h2>
      <p>Contact our sales team to learn more about our AI IT Support Tool and how it can benefit your organization. We're happy to answer any questions you may have.</p>
      <form method="post" action="{% url 'send_email' %}">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>

        <input type="submit">
      </form>
    </div>
  </section>
{% endblock %}

{% block scripts_extra %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
