{% extends 'base.html' %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <section class="login-container">
        <h2>Login</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Login</button>
          <button id="bypass">BYPASS LOGIN</button>
        </form>
    </section>
{% endblock %}

{% block scripts_extra %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}